<template>
  <div>
    <input type="text" v-model="inputText" data-test="messageText" />
    <button @click="send" data-test="sendButton">
      Send
    </button>
  </div>
</template>

<script>
export default {
  name: 'NewMessageForm',
  data() {
    return {
      inputText: '',
    };
  },
  methods: {
    send() {
      this.$emit('send', this.inputText);
      this.inputText = '';
    },
  },
};
</script>
