<template>
  <div>
    <new-message-form @send="addMessage" />
    <message-list :messages="messages" />
  </div>
</template>

<script>
import NewMessageForm from './components/NewMessageForm';
import MessageList from './components/MessageList';

export default {
  name: 'App',
  components: {
    NewMessageForm,
    MessageList,
  },
  data() {
    return {
      messages: [],
    };
  },
  methods: {
    addMessage(text) {
      this.messages.unshift(text);
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #c1d6eb;
  margin-top: 60px;
}
</style>
